<%= f.error_notification %>
  <%= f.input :content, :as => :string, :input_html => { :class => "input-xxlarge" } %>
  <p>上傳相片</p>
    <%= image_tag(@photo.image_url) if @photo.image? %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
    <p>或照片網址</p>
    <%= f.text_field :remote_image_url %>
    <p>Is this image a front cover?</p>
    <%= f.input :is_front_cover, :as => :boolean %>
  <div class="form-actions">
    <%= f.submit "Submit",  :class => "btn btn-primary" %>
  </div>
