  <%= f.error_notification %>
  <%= f.input :country_id, :as => :integer, :input_html => { :class => "input-xxlarge" } %>
  <%= f.input :title, :input_html => { :class => "input-xxlarge"} %>
  <%= f.input :description, :as => :text, :input_html => { :class => "input-xxlarge"} %>
  <%= f.input :ntd, :as => :integer, :input_html => {:class => "input-xxlarge"} %>
  <%= f.input :stock, :as => :integer, :input_html => { :class => "input-xxlarge" } %>
  <p>Upload a picture</p>
    <%= image_tag(@product.avatar_url) if @product.avatar? %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
    <p>Or, you can upload a image url...</p>
    <%= f.text_field :remote_avatar_url %>

  <div class="form-actions">
    <%= f.submit "Submit",  :class => "btn btn-primary" %>
  </div>
