<div class="span12">

<h1>Listing products</h1>

<div class="toolbar group">
  <%= link_to("今日我最降", products_path(:discount => "1"), :class => "btn btn-primary pull-right") %>
  <%= link_to("New product", new_admin_product_path, :class => "btn btn-primary pull-right") %>
  <%= link_to("Back to User Panel", products_url, :class => "btn btn-primary pull-right") %>
</div>

  <% @products.each do |product| %>
  <div class = "product">
    <h6><%= product.title %><h6>
    <%= render_product_front_photo(product) %><br/>
    <h6>NTD <%= product.ntd %> 元<h6>
    截止時間  <%= product.off_shelf_time.strftime("%A %B %d, %Y") %><br/>
      <%= link_to("New a photo", new_admin_product_photo_path(product), :class => "btn btn-success") %>
      <%= link_to("Show", product, :class => "btn btn-success") %>
      <%= link_to("Edit", edit_admin_product_path(product), :class => "btn btn-success") %>
      <%= link_to("Destroy", admin_product_path(product), :method => :delete, :data => {:confirm => "Are you sure?"}, :class => "btn btn-danger") %>
  </div>
  <% end %>



  <div class = "paginate">
    <%= will_paginate(@products) %>
  </div>

</div>
