<div class="span12">

<h1>Listing products</h1>

<div class="toolbar group">
  <%= link_to("New product", new_admin_product_path, :class => "btn btn-primary pull-right") %>
  <%= link_to("Back to User Panel", products_url, :class => "btn btn-primary pull-right") %>
</div>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.title %></td>
    <td><%= product.description %></td>
    <td><%= product.ntd %></td>
    <td>
      <%= link_to("Show product", product, :class => "btn btn-success") %>
      <%= link_to("Edit product", edit_admin_product_path(product), :class => "btn btn-success") %>
      <%= link_to("Destroy", admin_product_path(product), :method => :delete, :data => {:confirm => "Are you sure?"}, :class => "btn btn-danger") %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate(@products) %>

</div>
