<div class="span12">

<h1>Listing products</h1>

<div class="toolbar group">
  <%= link_to("今日我最降", products_path(:discount => "1"), :class => "btn btn-primary pull-right") %>
  <% if current_user && current_user.is_admin? %>
  <%= link_to("Admin Panel", admin_products_url, :class => "btn btn-primary pull-right") %>
  <% end %>
</div>




 <% @products.each do |product| %>
  <div class = "product">
    <%= product_country(product) %>
    <h6><%= link_to(product.title, product) %><h6>
    <%= link_to(render_product_front_photo(product), product) %><br/>
    <h6>NTD <%= product.ntd %> 元<h6>
    <h6>今日折扣 <%= product.discount / 10.0 %> 折 </h6>
    截止時間  <%= product.off_shelf_time.strftime("%A %B %d, %Y") %><br/>
  </div>
  <% end %>

  
    <%= will_paginate(@products) %>
  

</div>

