<div class="span12">
  <div class="toolbar group pull-right">
    <%= link_to "Back", products_path %>
  </div>
  <h2> <%= @product.title %> </h2>

  <p> 國別 <%= @product.country_id %> </p>

  <p> <%= simple_format(@product.description) %> </p>

  <%= carrierwave_image(@product) %>

  <p> 只要新台幣 ＄ <%= @product.ntd %> </p>

  <p> 庫存 <%= @product.stock %> 件 </p>

</div>
