<div class="span12">
  <div class="toolbar group pull-right">
    <%= link_to "Back", products_path %>
  </div>
  <h2> <%= @product.title %> </h2>

  <% @photos.each do |photo| %>
  <%= link_to(carrierwave_image(photo), product_photo_path(@product, photo)) %>
  <% end %>

  <p> 國別 <%= @product.country_id %> </p>

  <p> 商品敘述 <%= simple_format(@product.description) %> </p>

  <p> 只要新台幣 ＄ <%= @product.ntd %> </p>

  <p> 庫存 <%= @product.stock %> 件 </p>

</div>
